@import '/styles/mixins';
@import '/styles/library';

.MainPage {
  display: flex;
}

.Login {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  //@extend .p-16;
  @include mobile() {
    display: flex;
    flex-direction: column;
  }

  &_Title {
    @extend .UI30Semi;
    @extend .Black;
    @extend .mt-64;
    @extend .mb-32;
  }

  &_Inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > div:first-child {
      @extend .mb-16;
    }
  }

  &_Btn {
    width: 100%;
    @extend .mt-auto;
  }
}

.Register {
  @extend .Login;

  &_Exit {
    display: flex;
    align-items: center;
    @extend .mt-64;
    @extend .mb-32;
  }

  &_Title {
    @extend .UI30Semi;
    @extend .Black;
    @extend .mt-64;
    @extend .mb-32;
  }

  &_Login {
    @extend .UI16Medium;
    color: $greenPrimary;
    @extend .mt-64;
    @extend .mb-32;
    text-align: right;
    cursor: pointer;
  }

  &_Inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > div {
      @extend .mb-16;
    }
  }

  &_Btn {
    width: 100%;
    @extend .mt-auto;
  }
}
